<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Task 6</title>
</head>
<body>
<form th:method="GET" th:action="@{/military/task6}">
	<label for="type" th:text="'Input type of tech'"/>
	<input type="text" id="type" th:name="type">
	<label for="num" th:text="'Input number of a unit'"/>
	<input type="number" id="num" th:name="num">
	<input type="submit" value="Get filtered data">
</form>
<div th:each="row: ${result}">
	<p th:text="${'Number of military unit '
	+ row.getNum() + ' amount of tech ' + row.getAmount()
	+ ' tech type ' + row.getType()}"></p>
</div>
<form th:method="GET" th:action="@{/military}">
	<button th:text="'To main menu'"/>
</form>
</body>
</html>